/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #005bbb
$textColor = #333333
$borderColor = #f3f3f3
$codeBgColor = #282c34
$nprogressColor = #005bbb